/*general*/
html {
    height: 100%;
    font-size: 16px;
}
body {
    background-size: cover;
    background: url("../img/pw_maze_black.png") repeat;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
}

h2 {
    color: #39707f ;
}

.left {
    -webkit-transform: translate3D(-100%, 0, 0);
    transform: translate3D(-100%, 0, 0);
}
.right {
    -webkit-transform: translate3D(100%, 0, 0);
    transform: translate3D(100%, 0, 0);
}
.center {
    -webkit-transform: translate3D(100%, 0, 0);
    transform: translate3D(0%, 0, 0);
}


/*tpl principal*/
header {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    height: 60px;
    line-height: 60px;
    background-color: rgba(0, 0, 0, 0.40);
    color: #39707f;
    font-size: 1.3rem;
    text-align: center;

}

footer {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 60px;
    line-height: 60px;
    background-color: rgba(0, 0, 0, 0.70);
    text-align: center;
}

footer#index a {
    display: block;
    width: 33%;
    float: left;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;

}

footer#index a:hover, footer a:focus {
    text-decoration: none;
    color: #39707f;
}



footer#index a:nth-child(2) {
    border-left: 1px solid #39707f;
    border-right: 1px solid #39707f;
}

.active {
    border-top: 3px solid #39707f;
}
/*Accueil*/

img {
    margin: 0 auto;
}

#apropos {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 60px;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-transition-duration: 5s;
    transition-duration: 5s;
}

#apropos p {
    padding: 5%;
    font-size: 1rem;
    font-family: "Consolas", "Menlo", "Courier", monospace;
    color: #f5f5f5;
}

#apropos h2 {
    text-align: center;
}

/*Video*/
#video, #game {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 60px;
}

video {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}
