<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>My favorite STG</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/video-js.css" rel="stylesheet">
    <!--game css-->
    <!--il vaut mieux charger les polices dans l'appli-->
    <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
</head>
<header>
    My Favorite STG
</header>

<body ng-app="stgApp" >
    <section ng-view></section>
    <footer id="index">
        <nav ng-controller="activeCtrl">
            <a href="#/" ng-click="menu='accueil' " ng-class="{active: menu == 'accueil'}"><img src="img/home.png" alt="accueil"/></a>
            <a href="#/video" ng-click="menu='video' " ng-class="{active: menu == 'video'}"><img src="img/video.png" alt="video"/></a>
            <a href="game.html" ng-click="menu='game' " ng-class="{active: menu == 'game'}"><img src="img/play.png" alt="jouer"/></a>
        </nav>
    </footer>

    <!-- jQuery -->
    <script type="text/javascript" src="js/lib/jquery.js"></script>

    <!--ANGULAR Chemin a verifier-->
    <script type="text/javascript" src="js/lib/angular.js"></script>
    <script type="text/javascript" src="js/lib/angular-route.js"></script>
    <script type="text/javascript" src="js/lib/angular-resource.js"></script>
    <script type="text/javascript" src="js/angular/StgApp.js"></script>
    <script type="text/javascript" src="js/angular/controller/StgCtrl.js"></script>
    <script type="text/javascript" src="js/angular/controller/navCtrl.js"></script>
    <script type="text/javascript" src="js/lib/video.js"></script>

</body>

</html>
