<section id="video" >
    <video id="my_video_1" class="video-js vjs-default-skin"
           controls preload="none" data-setup='{}'
           poster="img/logo.png">
        <source src="vids/ArcadeSpaceInvaders.mp4" type="video/mp4">
        <source src="vids/ArcadeSpaceInvaders.webm" type="video/webm">
        <track kind="subtitles" src="vids/sub.vtt" srclang="fr" label="français" default>
    </video>
</section>